 html,body {
  height:100%;
  width: 100%;
  background: linear-gradient(45deg,#4E1B43, #E36973, #FFC1C8);
  color: #FFF;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;
}
.message{
  font-family: "Ultra", serif;
  font-size: 50px;
  text-align: center;
}
