html,
body {
  height: 100%;
  width: 100%;
  margin:auto;
  background-color: #000000;
}
.description {
  color: white;
  font-size: .9rem;
  text-align: left;
  padding-left: 1rem;
  font-family:"Noto Serif Display", serif;
  font-style: italic;
  font-weight: 200;
}

.heading-txt{
  color: rgb(100, 108, 120);
  font-size: 1.2rem;
  font-family:'Courier New', Courier, monospace;
}